
/* TOC item styles */
.tocify .tocify-item {
  color: white !important;
  font-size: 15px;
  padding: 8px 12px;
  margin-bottom: 6px;
  border-radius: 6px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Hover effect */
.tocify .tocify-item:hover {
  background-color: #2E3D66 !important;
  color: #F9C349 !important;
}

/* Active section highlight */
.tocify .tocify-item.active {
  backgrou

.highlight-yellow {
  color: #F9C349;
  font-weight: bold;
}